configure terminal
  interface Gi0/1/0/1
    description This is interface number 1!
    ipv4 address 1.1.1.1/31
    service-policy input 10Mb
    service-policy output 10Mb
    no shutdown
    exit
  interface Te0/7/0/1
    description And this is interface number 2!
    ipv4 address 8.8.8.8/29
    no shutdown
    exit
